html {
  display: block;
  font-size: 100%;
  font-family: Open Sans, sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
html,
p strong {
  color: #191e1e;
}
#nav {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #ebf2f2;
}
.nav-inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.springlogo {
  display: block;
  height: 48px;
  max-width: 250px;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  width: 705px;
  margin-left: 40px;
}
.has-menu {
  font-weight: 700;
  font-size: 0.9375rem;
  cursor: default;
}
.nav-items > li > a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.9375rem;
}
.nav-items > li > a:hover {
  color: #6db33f;
}
.nav-arrow {
  transform: rotate(45deg) translateY(-6px);
  -webkit-transform: rotate(45deg) translateY(-6px);
  border: solid #191e1e;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
}
